.card a{
    color:rgb(255, 8, 0);
    text-decoration: none;
    /* transition: all .2s; */
}

.card a:hover{ /*Наведение без посещения*/
    color: orange;
    /* font-size: 2rem; */
}

.card a:visited{ /*посещение ссылки*/
    color:aliceblue;
}

.btn{
    background-color: black;
    padding: 15px 20px;
    color:aliceblue;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}

.btn:hover{
    background-color: aqua;
    transition: all .2s;
    color: black;
}

/* .card .high:hover{ (При наведении на блок меняет цвет)
    background-color: red;
} */